#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  align-items: center;
}

.container{
  max-width: 1080px;
  width: 100%;
  margin: 0 20px;
  display: flex;
}

main{
  flex:1;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.bottom_logo{
  background: #fff;
  height: 40px;
}

button {
  background: #7AF051;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #737473;
  font-weight: 800;
  width: 50%;
  margin-top: 10px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: none;
}
button:hover{
  color:#CF8146
}

@media screen and (max-width: 1023px){
  main{
    margin-top: 110px;
  }
}