header {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  height: 100px;
  z-index: 10;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.top{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 8px;
  z-index: 10;
}
.headerTools{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.menu{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.menuBox{
  display: flex;
  gap: 20px;
}
.bottom_logo{
  padding: 10px;
}

.burger_container {
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  display: none;
  justify-content: center;
  align-items: center;
}
.burger_container ol, ul {
  list-style: none;
}

.burger {
  cursor: pointer;
  padding: 1.3em 0.4em;

}

.burger > div {
  width: 2em;
  height: 0.25em;
  border-radius: 4px;;
  background: #747574;
  position: relative; 
}

.burger > div::before,
.burger > div::after {
  transition: font-size 0s;
  content: "";
  display: block;
  position: absolute;
  width: 2em;
  height: 0.25em;
  background: #747574;
  border-radius: 4px;;
}

.burger > div::before {
  margin-top: -0.8em;
}

.burger > div::after {
  margin-top: 0.8em;
}

.burger1 {
  transition: all 0.7s, font-size 0s;
  transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
}

.burger1 > div {
  transition: all 0.1s 0.3s, font-size 0s;
}

.burger1 > div::before,
.burger1 > div::after {
  transition: all 0.3s 0.2s, font-size 0s;
}

.burger1.toggled {
  transform: rotate(180deg);
}

.burger1.toggled > div::before {
  transform: rotate(45deg) translate(0.6em, 0.55em);
}

.burger1.toggled > div {
  background: transparent;
}

.burger1.toggled > div::after {
  transform: rotate(-45deg) translate(0.6em, -0.55em);
}

.mobile_menu{
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 110px;
  right: -100vw;
  display: flex;
  transition: all 0.3s ease 0s;
  justify-content:end;
  text-align: right;
  padding-right: 20px;
}

.mobile_menu li{
  color: #4D4C72;
  text-transform: uppercase;
  padding: 20px;
}

.mobile_menu a{
  text-decoration: none;
}

.mobile_menu.active {
  right: 0;
  transition: all 0.3s ease 0s;
}


@media screen and (max-width: 1023px){
  header{
    height: 110px;
  }
  header .menu{
    display: none;
  }
  .burger_container {
    display: flex;
  }
  .logo img{
    width: 160px;
  }
}